.videoFlexContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: calc((100vw - 35px - 35px - 340px - 16px)/2);
    height: calc((100vh - 87px - 167px - 16px)/2);
    background: var(--primary-gray-dark);
    border-radius: 12px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.nameOnVideoFlexContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px 5px 6px;
    gap: 6px;
    height: 30px;
    box-sizing: border-box;

    background: var(--overlay-dark-50pr);
    border-radius: 9px;

    position: absolute;
    left: 10px;
    bottom: 10px;

    z-index: 3;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.nameOnVideoFlexContainer div {
    height: 18px;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: calc((100vw - 35px - 35px - 340px - 14px - 130px)/2);
}

.micIconClass {
   color: var(--primary-white); 
}

.videoOffContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 6px;
    gap: 6px;

    background: var(--overlay-dark-50pr);
    border-radius: 9px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    object-fit: cover;
    width: calc((100vw - 35px - 35px - 340px - 16px)/2);
    height: calc((100vh - 87px - 167px - 16px)/2);
    background: var(--primary-gray-dark);
    border-radius: 12px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.currentUserVideo {
  transform: rotateY(180deg);
}

.audioWithOffVideo {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
    background: var(--primary-black);

    position: absolute;
}

